<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.storyboardApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
		</dict>
		<key>AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
		<key>AppSetup/Common/AppSetupCommon.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Common</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Common/AppSetupCommon.h</string>
		</dict>
		<key>AppSetup/Library/AppSetupLibrary.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/AppSetupLibrary.h</string>
		</dict>
		<key>AppSetup/Library/LQSKit.framework</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/LQSKit.framework</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJDictionaryCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJDictionaryCache.h</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJDictionaryCache.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJDictionaryCache.m</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJExtension.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJExtension.h</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJExtensionConst.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJExtensionConst.h</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJExtensionConst.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJExtensionConst.m</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJFoundation.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJFoundation.h</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJFoundation.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJFoundation.m</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJProperty.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJProperty.h</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJProperty.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJProperty.m</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJPropertyKey.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJPropertyKey.h</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJPropertyKey.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJPropertyKey.m</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJPropertyType.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJPropertyType.h</string>
		</dict>
		<key>AppSetup/Library/MJExtension/MJPropertyType.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/MJPropertyType.m</string>
		</dict>
		<key>AppSetup/Library/MJExtension/NSObject+MJClass.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/NSObject+MJClass.h</string>
		</dict>
		<key>AppSetup/Library/MJExtension/NSObject+MJClass.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/NSObject+MJClass.m</string>
		</dict>
		<key>AppSetup/Library/MJExtension/NSObject+MJCoding.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/NSObject+MJCoding.h</string>
		</dict>
		<key>AppSetup/Library/MJExtension/NSObject+MJCoding.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/NSObject+MJCoding.m</string>
		</dict>
		<key>AppSetup/Library/MJExtension/NSObject+MJKeyValue.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/NSObject+MJKeyValue.h</string>
		</dict>
		<key>AppSetup/Library/MJExtension/NSObject+MJKeyValue.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/NSObject+MJKeyValue.m</string>
		</dict>
		<key>AppSetup/Library/MJExtension/NSObject+MJProperty.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/NSObject+MJProperty.h</string>
		</dict>
		<key>AppSetup/Library/MJExtension/NSObject+MJProperty.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/NSObject+MJProperty.m</string>
		</dict>
		<key>AppSetup/Library/MJExtension/NSString+MJExtension.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/NSString+MJExtension.h</string>
		</dict>
		<key>AppSetup/Library/MJExtension/NSString+MJExtension.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJExtension</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJExtension/NSString+MJExtension.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Base/MJRefreshAutoFooter.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Base/MJRefreshAutoFooter.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Base/MJRefreshAutoFooter.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Base/MJRefreshAutoFooter.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Base/MJRefreshBackFooter.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Base/MJRefreshBackFooter.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Base/MJRefreshBackFooter.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Base/MJRefreshBackFooter.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Base/MJRefreshComponent.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Base/MJRefreshComponent.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Base/MJRefreshComponent.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Base/MJRefreshComponent.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Base/MJRefreshFooter.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Base/MJRefreshFooter.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Base/MJRefreshFooter.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Base/MJRefreshFooter.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Base/MJRefreshHeader.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Base/MJRefreshHeader.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Base/MJRefreshHeader.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Base/MJRefreshHeader.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoGifFooter.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Footer</string>
				<string>Auto</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoGifFooter.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoGifFooter.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Footer</string>
				<string>Auto</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoGifFooter.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoNormalFooter.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Footer</string>
				<string>Auto</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoNormalFooter.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoNormalFooter.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Footer</string>
				<string>Auto</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoNormalFooter.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoStateFooter.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Footer</string>
				<string>Auto</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoStateFooter.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoStateFooter.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Footer</string>
				<string>Auto</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoStateFooter.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackGifFooter.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Footer</string>
				<string>Back</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackGifFooter.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackGifFooter.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Footer</string>
				<string>Back</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackGifFooter.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackNormalFooter.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Footer</string>
				<string>Back</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackNormalFooter.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackNormalFooter.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Footer</string>
				<string>Back</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackNormalFooter.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackStateFooter.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Footer</string>
				<string>Back</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackStateFooter.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackStateFooter.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Footer</string>
				<string>Back</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackStateFooter.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshGifHeader.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Header</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshGifHeader.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshGifHeader.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Header</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshGifHeader.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshNormalHeader.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Header</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshNormalHeader.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshNormalHeader.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Header</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshNormalHeader.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshStateHeader.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Header</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshStateHeader.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshStateHeader.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>Custom</string>
				<string>Header</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshStateHeader.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/MJRefresh.bundle/arrow@2x.png</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
				<string>MJRefresh.bundle</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/MJRefresh.bundle/arrow@2x.png</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/MJRefresh.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/MJRefresh.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/MJRefreshConst.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/MJRefreshConst.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/MJRefreshConst.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/MJRefreshConst.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/UIScrollView+MJExtension.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/UIScrollView+MJExtension.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/UIScrollView+MJExtension.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/UIScrollView+MJExtension.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/UIScrollView+MJRefresh.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/UIScrollView+MJRefresh.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/UIScrollView+MJRefresh.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/UIScrollView+MJRefresh.m</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/UIView+MJExtension.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/UIView+MJExtension.h</string>
		</dict>
		<key>AppSetup/Library/MJRefresh/UIView+MJExtension.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>MJRefresh</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/MJRefresh/UIView+MJExtension.m</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASCompositeConstraint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASCompositeConstraint.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASCompositeConstraint.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASCompositeConstraint.m</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASConstraint+Private.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASConstraint+Private.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASConstraint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASConstraint.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASConstraint.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASConstraint.m</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASConstraintMaker.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASConstraintMaker.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASConstraintMaker.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASConstraintMaker.m</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASLayoutConstraint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASLayoutConstraint.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASLayoutConstraint.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASLayoutConstraint.m</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASUtilities.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASUtilities.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASViewAttribute.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASViewAttribute.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASViewAttribute.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASViewAttribute.m</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASViewConstraint.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASViewConstraint.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/MASViewConstraint.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/MASViewConstraint.m</string>
		</dict>
		<key>AppSetup/Library/Masonry/Masonry.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/Masonry.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/NSArray+MASAdditions.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/NSArray+MASAdditions.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/NSArray+MASAdditions.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/NSArray+MASAdditions.m</string>
		</dict>
		<key>AppSetup/Library/Masonry/NSArray+MASShorthandAdditions.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/NSArray+MASShorthandAdditions.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/NSLayoutConstraint+MASDebugAdditions.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/NSLayoutConstraint+MASDebugAdditions.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/NSLayoutConstraint+MASDebugAdditions.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/NSLayoutConstraint+MASDebugAdditions.m</string>
		</dict>
		<key>AppSetup/Library/Masonry/View+MASAdditions.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/View+MASAdditions.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/View+MASAdditions.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/View+MASAdditions.m</string>
		</dict>
		<key>AppSetup/Library/Masonry/View+MASShorthandAdditions.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/View+MASShorthandAdditions.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/ViewController+MASAdditions.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/ViewController+MASAdditions.h</string>
		</dict>
		<key>AppSetup/Library/Masonry/ViewController+MASAdditions.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>Masonry</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/Masonry/ViewController+MASAdditions.m</string>
		</dict>
		<key>AppSetup/Library/SXCycleView/SXCellView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>SXCycleView</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/SXCycleView/SXCellView.h</string>
		</dict>
		<key>AppSetup/Library/SXCycleView/SXCellView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>SXCycleView</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/SXCycleView/SXCellView.m</string>
		</dict>
		<key>AppSetup/Library/SXCycleView/SXCycleView.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>SXCycleView</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/SXCycleView/SXCycleView.h</string>
		</dict>
		<key>AppSetup/Library/SXCycleView/SXCycleView.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>SXCycleView</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/SXCycleView/SXCycleView.m</string>
		</dict>
		<key>AppSetup/Library/SXCycleView/SXLinkList.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>SXCycleView</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/SXCycleView/SXLinkList.h</string>
		</dict>
		<key>AppSetup/Library/SXCycleView/SXLinkList.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Library</string>
				<string>SXCycleView</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Library/SXCycleView/SXLinkList.m</string>
		</dict>
		<key>AppSetup/Main/AppSetupMain.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Main/AppSetupMain.h</string>
		</dict>
		<key>AppSetup/Main/MainBoxController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Main/MainBoxController.h</string>
		</dict>
		<key>AppSetup/Main/MainBoxController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Main/MainBoxController.m</string>
		</dict>
		<key>AppSetup/Main/MainNavigationController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Main/MainNavigationController.h</string>
		</dict>
		<key>AppSetup/Main/MainNavigationController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Main/MainNavigationController.m</string>
		</dict>
		<key>AppSetup/Main/MainTabBarController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Main/MainTabBarController.h</string>
		</dict>
		<key>AppSetup/Main/MainTabBarController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Main</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Main/MainTabBarController.m</string>
		</dict>
		<key>AppSetup/PrefixHeader.pch</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
			</array>
			<key>Path</key>
			<string>AppSetup/PrefixHeader.pch</string>
		</dict>
		<key>AppSetup/Request/AppSetupRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Request</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Request/AppSetupRequest.h</string>
		</dict>
		<key>AppSetup/Request/Basic/CommondRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Request</string>
				<string>Basic</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Request/Basic/CommondRequest.h</string>
		</dict>
		<key>AppSetup/Request/Basic/CommondRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Request</string>
				<string>Basic</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Request/Basic/CommondRequest.m</string>
		</dict>
		<key>AppSetup/Request/Basic/RequestModel.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Request</string>
				<string>Basic</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Request/Basic/RequestModel.h</string>
		</dict>
		<key>AppSetup/Request/Basic/RequestModel.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Request</string>
				<string>Basic</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Request/Basic/RequestModel.m</string>
		</dict>
		<key>AppSetup/Section/AppSetupSection.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppSetup</string>
				<string>Section</string>
			</array>
			<key>Path</key>
			<string>AppSetup/Section/AppSetupSection.h</string>
		</dict>
		<key>Base.lproj/Main.storyboard</key>
		<dict>
			<key>Path</key>
			<string>Main.storyboard</string>
			<key>SortOrder</key>
			<integer>99</integer>
		</dict>
		<key>Info.plist</key>
		<dict>
			<key>Path</key>
			<string>Info.plist</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>Identifier</key>
	<string>com.muzico.LQSApplication</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>AppSetup/Section/AppSetupSection.h</string>
						<string>AppSetup/Library/MJExtension/MJPropertyKey.h</string>
						<string>AppSetup/Library/MJExtension/NSObject+MJClass.h</string>
						<string>AppSetup/Library/MJExtension/NSString+MJExtension.h</string>
						<string>AppSetup/Library/MJExtension/MJPropertyType.m</string>
						<string>AppSetup/Library/MJExtension/NSObject+MJProperty.h</string>
						<string>AppSetup/Library/MJExtension/MJExtensionConst.h</string>
						<string>AppSetup/Library/MJExtension/NSObject+MJKeyValue.m</string>
						<string>AppSetup/Library/MJExtension/MJDictionaryCache.h</string>
						<string>AppSetup/Library/MJExtension/MJProperty.m</string>
						<string>AppSetup/Library/MJExtension/MJFoundation.h</string>
						<string>AppSetup/Library/MJExtension/NSObject+MJCoding.m</string>
						<string>AppSetup/Library/MJExtension/MJExtension.h</string>
						<string>AppSetup/Library/MJExtension/MJExtensionConst.m</string>
						<string>AppSetup/Library/MJExtension/NSObject+MJProperty.m</string>
						<string>AppSetup/Library/MJExtension/MJPropertyType.h</string>
						<string>AppSetup/Library/MJExtension/NSObject+MJClass.m</string>
						<string>AppSetup/Library/MJExtension/NSString+MJExtension.m</string>
						<string>AppSetup/Library/MJExtension/MJPropertyKey.m</string>
						<string>AppSetup/Library/MJExtension/MJProperty.h</string>
						<string>AppSetup/Library/MJExtension/MJDictionaryCache.m</string>
						<string>AppSetup/Library/MJExtension/NSObject+MJKeyValue.h</string>
						<string>AppSetup/Library/MJExtension/NSObject+MJCoding.h</string>
						<string>AppSetup/Library/MJExtension/MJFoundation.m</string>
						<string>AppSetup/Library/MJRefresh/UIScrollView+MJRefresh.m</string>
						<string>AppSetup/Library/MJRefresh/MJRefreshConst.m</string>
						<string>AppSetup/Library/MJRefresh/UIScrollView+MJExtension.h</string>
						<string>AppSetup/Library/MJRefresh/MJRefresh.h</string>
						<string>AppSetup/Library/MJRefresh/MJRefresh.bundle/arrow@2x.png</string>
						<string>AppSetup/Library/MJRefresh/UIView+MJExtension.h</string>
						<string>AppSetup/Library/MJRefresh/UIScrollView+MJExtension.m</string>
						<string>AppSetup/Library/MJRefresh/MJRefreshConst.h</string>
						<string>AppSetup/Library/MJRefresh/UIScrollView+MJRefresh.h</string>
						<string>AppSetup/Library/MJRefresh/UIView+MJExtension.m</string>
						<string>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackGifFooter.h</string>
						<string>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackStateFooter.h</string>
						<string>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackNormalFooter.h</string>
						<string>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackGifFooter.m</string>
						<string>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackStateFooter.m</string>
						<string>AppSetup/Library/MJRefresh/Custom/Footer/Back/MJRefreshBackNormalFooter.m</string>
						<string>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoStateFooter.h</string>
						<string>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoNormalFooter.h</string>
						<string>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoGifFooter.h</string>
						<string>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoStateFooter.m</string>
						<string>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoGifFooter.m</string>
						<string>AppSetup/Library/MJRefresh/Custom/Footer/Auto/MJRefreshAutoNormalFooter.m</string>
						<string>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshNormalHeader.m</string>
						<string>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshStateHeader.h</string>
						<string>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshGifHeader.h</string>
						<string>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshNormalHeader.h</string>
						<string>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshStateHeader.m</string>
						<string>AppSetup/Library/MJRefresh/Custom/Header/MJRefreshGifHeader.m</string>
						<string>AppSetup/Library/MJRefresh/Base/MJRefreshFooter.m</string>
						<string>AppSetup/Library/MJRefresh/Base/MJRefreshComponent.h</string>
						<string>AppSetup/Library/MJRefresh/Base/MJRefreshHeader.m</string>
						<string>AppSetup/Library/MJRefresh/Base/MJRefreshAutoFooter.h</string>
						<string>AppSetup/Library/MJRefresh/Base/MJRefreshBackFooter.m</string>
						<string>AppSetup/Library/MJRefresh/Base/MJRefreshAutoFooter.m</string>
						<string>AppSetup/Library/MJRefresh/Base/MJRefreshHeader.h</string>
						<string>AppSetup/Library/MJRefresh/Base/MJRefreshComponent.m</string>
						<string>AppSetup/Library/MJRefresh/Base/MJRefreshFooter.h</string>
						<string>AppSetup/Library/MJRefresh/Base/MJRefreshBackFooter.h</string>
						<string>AppSetup/Library/Masonry/MASCompositeConstraint.h</string>
						<string>AppSetup/Library/Masonry/NSLayoutConstraint+MASDebugAdditions.m</string>
						<string>AppSetup/Library/Masonry/MASConstraint+Private.h</string>
						<string>AppSetup/Library/Masonry/MASLayoutConstraint.h</string>
						<string>AppSetup/Library/Masonry/NSArray+MASShorthandAdditions.h</string>
						<string>AppSetup/Library/Masonry/MASConstraintMaker.h</string>
						<string>AppSetup/Library/Masonry/View+MASAdditions.h</string>
						<string>AppSetup/Library/Masonry/NSArray+MASAdditions.h</string>
						<string>AppSetup/Library/Masonry/MASUtilities.h</string>
						<string>AppSetup/Library/Masonry/MASViewAttribute.h</string>
						<string>AppSetup/Library/Masonry/ViewController+MASAdditions.m</string>
						<string>AppSetup/Library/Masonry/MASViewConstraint.h</string>
						<string>AppSetup/Library/Masonry/MASConstraint.h</string>
						<string>AppSetup/Library/Masonry/NSLayoutConstraint+MASDebugAdditions.h</string>
						<string>AppSetup/Library/Masonry/MASCompositeConstraint.m</string>
						<string>AppSetup/Library/Masonry/MASConstraintMaker.m</string>
						<string>AppSetup/Library/Masonry/MASLayoutConstraint.m</string>
						<string>AppSetup/Library/Masonry/NSArray+MASAdditions.m</string>
						<string>AppSetup/Library/Masonry/View+MASAdditions.m</string>
						<string>AppSetup/Library/Masonry/View+MASShorthandAdditions.h</string>
						<string>AppSetup/Library/Masonry/Masonry.h</string>
						<string>AppSetup/Library/Masonry/MASConstraint.m</string>
						<string>AppSetup/Library/Masonry/ViewController+MASAdditions.h</string>
						<string>AppSetup/Library/Masonry/MASViewConstraint.m</string>
						<string>AppSetup/Library/Masonry/MASViewAttribute.m</string>
						<string>AppSetup/Library/SXCycleView/SXCycleView.h</string>
						<string>AppSetup/Library/SXCycleView/SXCellView.h</string>
						<string>AppSetup/Library/SXCycleView/SXLinkList.m</string>
						<string>AppSetup/Library/SXCycleView/SXLinkList.h</string>
						<string>AppSetup/Library/SXCycleView/SXCellView.m</string>
						<string>AppSetup/Library/SXCycleView/SXCycleView.m</string>
						<string>AppSetup/Library/AppSetupLibrary.h</string>
						<string>AppSetup/Library/LQSKit.framework</string>
						<string>AppSetup/Common/AppSetupCommon.h</string>
						<string>AppSetup/Request/AppSetupRequest.h</string>
						<string>AppSetup/Request/Basic/RequestModel.m</string>
						<string>AppSetup/Request/Basic/CommondRequest.m</string>
						<string>AppSetup/Request/Basic/RequestModel.h</string>
						<string>AppSetup/Request/Basic/CommondRequest.h</string>
						<string>AppSetup/Main/MainNavigationController.h</string>
						<string>AppSetup/Main/MainBoxController.h</string>
						<string>AppSetup/Main/MainTabBarController.m</string>
						<string>AppSetup/Main/MainNavigationController.m</string>
						<string>AppSetup/Main/MainTabBarController.h</string>
						<string>AppSetup/Main/AppSetupMain.h</string>
						<string>AppSetup/Main/MainBoxController.m</string>
						<string>AppSetup/PrefixHeader.pch</string>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning(- (void\)didReceiveMemoryWarning)</string>
						<string>ViewController.m:implementation:methods:didReceiveMemoryWarning:super</string>
						<string>AppDelegate.h</string>
						<string>AppDelegate.m</string>
						<string>Info.plist</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict/>
			</dict>
		</dict>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
</dict>
</plist>
